/*********************
IMPORTING PARTIALS
*********************/

@import "partials/normalize";

@import "partials/variables";

@import "partials/typography";

@import "partials/functions";

@import "partials/mixins";

@import "partials/grid";

/*********************
IMPORTING MODULES
*********************/

@import "modules/404";

@import "modules/blog";

@import "modules/buttons";

@import "modules/forms";

@import "modules/plugins";

/*********************
Media Queries
*********************/

@import "breakpoints/01-base";
//@import "woocommerce/01-base";

@media only screen and (max-width: 739px) {
	@import "breakpoints/02-mobile";
	//@import "woocommerce/02-mobile";
}

@media only screen and (min-width: 740px) {
	@import "breakpoints/03-narrow";
	//@import "woocommerce/03-narrow";
}

@media only screen and (min-width: 740px) and (max-width: 979px)  {
	@import "breakpoints/04-narrow-only";
}

@media only screen and (min-width: 980px) {
	@import "breakpoints/05-normal";
	//@import "woocommerce/04-normal";
}

@media only screen and (min-width: 980px) and (max-width: 1219px)  {
	@import "breakpoints/06-normal-only";
}

@media only screen and (min-width: 1220px) {
	@import "breakpoints/07-large";
	//@import "woocommerce/05-large";
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.object-fit{
		img{
			opacity: 0;
		}
	}
}

@media print {
	@import "partials/print";
}
