article.centered-content{
	.content-wrapper{
		max-width: 780px;
		margin: 0 auto;

		.image,
		.buttons,
		ul{
			margin-bottom: 1.5em;
			&:last-child{
				margin-bottom: 0;
			}
		}
		p{
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}