/*********************
TRANSITION
*********************/

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes: ("-webkit-", "");
	@each $prefix in $prefixes {
		#{$prefix}transition: $transition;
	}
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* @include horizontal-gradient(#f8f8f8,#fff, 50%, 50%); */
@mixin horizontal-gradient(
	$start-color: #f8f8f8,
	$end-color: #fff,
	$start-percent: 50%,
	$end-percent: 50%
) {
	background-image: -webkit-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Opera 12
	background-image: linear-gradient(
		to right,
		$start-color $start-percent,
		$end-color $end-percent
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

/* @include horizontal-gradient(#fff,#5abebe, 50%, 50%); */
@mixin horizontal-gradient(
	$start-color: #fff,
	$end-color: #5abebe,
	$start-percent: 50%,
	$end-percent: 50%
) {
	background-image: -webkit-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Opera 12
	background-image: linear-gradient(
		to right,
		$start-color $start-percent,
		$end-color $end-percent
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

/* @include horizontal-gradient(#e12534,#fff, 50%, 50%); */
@mixin horizontal-gradient(
	$start-color: #e12534,
	$end-color: #fff,
	$start-percent: 50%,
	$end-percent: 50%
) {
	background-image: -webkit-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Opera 12
	background-image: linear-gradient(
		to right,
		$start-color $start-percent,
		$end-color $end-percent
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	-ms-box-sizing: $type;
	box-sizing: $type;
}
