$black:				#323944;
$white:				#fff;
$light-gray:		#f8f9fa;
$gray:				#eaedf2;
$text-color:		#414141;
$meta-gray:			#9fa6b4;

$base-red:			#e12534;
$base-green:		#5abebe;
$bg-grey:			#f8f8f8;

$form-icons:		#559a7d;

$link-color:		#414141;
$link-hover:		#323944;

$border-color:		#ccc;