input.search-submit {
	background: #690aa9;
	color: #690aa9;
	height: 35px;
	padding-top: 5px;
	float: left;
}

.widget_search .search-submit {
	display: block;
}

input[type="search"] {
	width: 70%;
	padding: 6px 10px 7px;
	float: left;
}
.error-404 input[type="search"] {
	width: 70%;
}
.error-404 input[type="submit"] {
	margin: 4px 0 20px 10px;
}

a.bt-404 {
	background: #3a4052;
	padding: 15px;
	font-size: 20px;
	color: #fff;
	margin-top: 10px;
	display: table;
}

a.bt-404:hover {
	background: #fff;
	color: #3a4052;
}
