/******************************************************************
Site Name:
Author:

Stylesheet: Blog

******************************************************************/

.posts-col-left, .latest-posts-col-left {
    width: 100%;
    position: relative;
}

.posts-col-right .entry-header, .single-post .entry-header {
  text-align: left;
  font-size: 14px;
}

.posts-col-right {
  width:100%;
  margin:0;
}

.posts-col-right .entry-title {
  margin:0;
}

.posts-col-right .entry-header {
  margin-bottom:10px;
}

.bt {
  background: green;
  padding:10px;
  text-transform: uppercase;
}

.bt:hover {
  background: #000;
}

.bt-blog {
  display: table;
  float: left;
}

.comments-link-footer a {
  background: transparent url("../images/icon-comments.png") no-repeat scroll 0% 0%;
  padding: 0px 0px 7px 34px;
  color: green;
}

.posts-row {
  border-bottom: 1px solid;
  display: table;
}

/* sidebar */

#secondary .widget {
  margin: 0;
}

#secondary .widget_categories li {
  list-style: none;
  border-bottom:1px solid;
  padding: 10px 0;
}

#secondary .widget_categories li::before {
  content: ">";
  margin-right: 10px;
}

#secondary ul {
  margin:0 0 1.5em;
}

#secondary {
  margin-left:0 !important;
  margin-right:0 !important;
}


/* social media blok */
.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
  display: table;
}

.social-media a {
  color: #fff;
}

.social-media .facebook, .social-media .twitter, .social-media .google, .social-media .linkedin {
  float: left;
  width: 24%;
  margin: 0 1.333% 0 0;
  padding: 10px 0;
  font-size: 30px;
  transition: all 0.4s ease-in-out 0s;
}

.social-media .facebook:hover, .social-media .twitter:hover, .social-media .google:hover, .social-media .linkedin:hover {
  transform: scale(1.1);
}

.social-media .facebook {
  background-color: #3b5998;
}

.social-media .twitter {
  background-color: #4099ff;
}

.social-media .twitter {
  background-color: #4099ff;
}

.social-media .google {
  background-color: #dd4b39;
}

.social-media .linkedin {
  background-color: #007bb5;
}

.social-media .socialm:last-of-type {
  margin: 0;
}


/* Blog nieuwsbrief */
.nieuwsbrief-wrapper {
  background-color: #f6f6f6;
  padding: 20px 100px;
  margin: 50px 0;
  width: 100%;
  display: table;
  box-shadow: 0px 0px 5px #000;
}

.nieuwsbrief-wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin: 0 0 20px;
}

.nieuwsbrief-image {
  background: url(../images/abonneer-nieuws.png) no-repeat; 
  height: 147px;
}

.nieuwsbrief-content {
  float: left;
  width: 60%;
  height: 147px;
  padding: 5px 0 0 0;
  display: table;
}

/* Blog recent posts */
.recent-posts-wrapper {
  width: 100%;
  display: inline-block;
}

.recent-posts-wrapper h2 {
  margin: 0 0 20px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
}

.blog-recent-posts {
  list-style: none;
}

.blog-recent-posts:last-of-type {
  margin: 0;
}

.blog-recent-posts .image img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
}

.single-post hr {
  margin: 50px 0;
}

.about-author {
  display: table;
  width: 100%;
}

.about-author h3 {
  font-weight: 800;
}

.about-author-img {
  float: left;
  width: 15%;
  margin: 0 2% 0 0;
}

.about-author-content {
  float: left;
  width: 83%;
}

/* Blog recent posts - SIDEBAR */
.blog-recent-posts-sidebar {
  display: table;
  margin: 0 0 20px;
}

.image-sidebar {
  float: left;
  margin: 0 20px 0 0;
  height: 80px;
}

.blog-content-sidebar {
  float: left;
  height: 80px;
  padding: 5px 0;
  display: table;
}

hr.line-recent-posts-sidebar {
  margin: 10px 0 20px;
}

/* zoekveld */

#zoeken {
  height: 28px;
  width: 200px;
  border-radius: 0px;
  background: #F6F6F6 none repeat;
}

#zoekform {
  background: #000 url(../images/zoekform.png) no-repeat;
  background-size: 100% 100%;
  border: none;
  width: 40px;
  height: 40px;
  transition: all 0.4s ease-in-out 0s;
}

#zoekform:hover {
  background: #fff url(../images/zoekform.png) no-repeat;
  background-size: 100% 100%;
}

input.search-submit {
  background: #690AA9 url("../images/icon-search.png") no-repeat scroll center center;
  color: #690AA9;
  height: 35px;
  padding-top: 5px;
  float:left;
}

.widget_search .search-submit {
  display: block;
}

input[type="search"] {
  width: 70%;
  padding: 6px 10px 7px !important;
  float: left;
}
.error-404 input[type="search"] {
  width: 70%;
}
.error-404 input[type="submit"] {
  margin: 4px 0 20px 10px;
}


@media all and (max-width: 739px) {
.posts-row {
    text-align: center;
    margin: 0 0 20px;
  }

  h1.entry-title {
    text-align: center;
  }

.single-post .center {
    display: block;
    padding: 10px;
  }

  .nieuwsbrief-wrapper {
    padding: 20px;
  }

  .nieuwsbrief-image {
    margin: 0px auto;
    background-size: 100% auto;
    width: 50%;
  }

  .nieuwsbrief-content {
    text-align: center;
    width: 100%;
  }

  .bt-blog {
    width: 100%;
    margin-bottom:10px;
  }

  .posts-col-left, .latest-posts-col-left {
    display: block;
  }

  .posts-col-right .entry-header {
    text-align: center;
  }

  .blog-recent-posts {
    margin-bottom: 20px;
  }

  .nieuwsbrief-wrapper {
      padding: 20px;
  }

  .nieuwsbrief-image {
      margin: 0px auto;
      background-size: 100% auto;
      width: 50%;
  }

  .nieuwsbrief-content {
      text-align: center;
      width: 100%;
  }
}

@media all and (min-width: 740px) {

  .posts-row {
      margin: 0 0 20px;
      padding: 0 0 20px;
      width: 100%;
  }
  .nieuwsbrief-image {
    float: left;
    width: 30%;
    margin: 0 10% 0 0;
  }

  .blog-recent-posts {
    float: left;
    width: 32%;
    margin: 0 2% 0 0;
  }

  .nieuwsbrief-image {
      float: left;
      width: 30%;
      margin: 0px 10% 0px 0px;
  }

  .blog-recent-posts {
      float: left;
      width: 32%;
      margin: 0px 2% 0px 0px;
  }

  .blog-recent-posts:last-of-type {
      margin: 0px;
  }

}

@media all and (min-width: 980px) { 
    
  .posts-row {
    margin:         0 0 40px;
    padding:        0 0 40px;
    display:        table;
  } 

  .nieuwsbrief-wrapper {
    padding: 20px 40px;
  }

}
