.posts-col-left,
.latest-posts-col-left {
	width: 100%;
	position: relative;
}

.posts-col-right .entry-header,
.single-post .entry-header {
	text-align: left;
	font-size: 14px;
}

.posts-col-right {
	width: 100%;
	margin: 0;
}

.posts-col-right .entry-title {
	margin: 0;
}

.posts-col-right .entry-header {
	margin-bottom: 10px;
}

.bt {
	background: green;
	padding: 10px;
	text-transform: uppercase;
}

.bt:hover {
	background: #000;
}

.bt-blog {
	display: table;
	float: left;
}

.comments-link-footer a {
	padding: 0px 0px 7px 34px;
	color: green;
}

.posts-row {
	border-bottom: 1px solid;
	display: table;
}

/* sidebar */
#secondary .widget {
	margin: 0;
}

#secondary .widget_categories li {
	list-style: none;
	border-bottom: 1px solid;
	padding: 10px 0;
}

#secondary .widget_categories li::before {
	content: ">";
	margin-right: 10px;
}

#secondary ul {
	margin: 0 0 1.5em;
}

#secondary {
	margin-left: 0;
	margin-right: 0;
}

/* social media blok */
.social-media {
	font-size: 20px;
	a {
		margin-right: 10px;
		display: inline-block;
	}
	.facebook,
	.twitter,
	.google,
	.linkedin {
		&:hover {
			transform: scale(1.1);
		}
	}
	.facebook {
		color: #3b5998;
	}
	.twitter {
		color: #4099ff;
	}
	.google {
		color: #dd4b39;
	}
	.linkedin {
		color: #007bb5;
	}
}

/******************************************************************
PAGINATION
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;
	ul {
		display: inline-block;
		background-color: #fff;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border-radius: 3px;
	}
	li {
		padding: 0;
		margin: 0;
		display: inline;
		overflow: hidden;
		border-right: 1px solid $gray;
	}
	a,
	span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		color: #000;
		&:hover,
		&:focus {
			background-color: #000;
			color: #fff;
		}
	}
	.current {
		cursor: default;
		color: $text-color;
		&:hover,
		&:focus {
			background-color: #fff;
			color: $text-color;
		}
	}
}
.wp-prev-next {
	.prev-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}

/* Blog recent posts */
.recent-posts-wrapper {
	width: 100%;
	display: inline-block;
}

.recent-posts-wrapper h2 {
	margin: 0 0 20px;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 800;
}

.blog-recent-posts {
	list-style: none;
}

.blog-recent-posts:last-of-type {
	margin: 0;
}

.blog-recent-posts .image img {
	width: 100%;
	max-height: 100px;
	object-fit: cover;
}

/* Blog recent posts - SIDEBAR */
.blog-recent-posts-sidebar {
	display: table;
	margin: 0 0 20px;
}

.image-sidebar {
	float: left;
	margin: 0 20px 0 0;
	height: 80px;
}

.blog-content-sidebar {
	float: left;
	height: 80px;
	padding: 5px 0;
	display: table;
}


.page-number-wrapper {
	text-align: left;
	display: table;
	width: 100%;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		height: 2px;
		background: #003855;
		left: 0;
		right: 2px;
		bottom: 0;
		margin: auto;
		top: -44.5px;
		z-index: 100;
	}
	a{
		text-transform: uppercase;
		font-weight: 400;
		position: relative;
		z-index: 1;
		background: #fff;
		padding-left: 15px;
		color: #003855;
	}
	.next{
		display: none;
	}
}

ul.page-numbers {
	list-style: none;
	margin: 0;
}

ul.page-numbers {
	border-width: 1px 0 1px 1px;
	clear: both;
	display: inline-block;
	padding: 0;
	white-space: nowrap;
}

ul.page-numbers li {
	display: inline;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.prev{
	i{
		font-size: 16px;
	}
}
.page-numbers a,
.page-numbers span {
	display: block;
	font-size: 1em;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	min-width: 1em;
	padding: 15px 10px;
	text-decoration: none;

}
.page-numbers{
	float: left;
	font-size: 16px !important;
}
.page-numbers.current {
	background-color: #003855!important;
	color: white;
	display: table;
	font-weight: bold;
	background: #fff;
	position: relative;
}

@media all and (max-width: 739px) {
	.posts-row {
		text-align: center;
		margin: 0 0 20px;
	}

	h1.entry-title {
		text-align: center;
	}

	.single-post .center {
		display: block;
		padding: 10px;
	}

	.nieuwsbrief-wrapper {
		padding: 20px;
	}

	.nieuwsbrief-image {
		margin: 0px auto;
		background-size: 100% auto;
		width: 50%;
	}

	.nieuwsbrief-content {
		text-align: center;
		width: 100%;
	}

	.bt-blog {
		width: 100%;
		margin-bottom: 10px;
	}

	.posts-col-left,
	.latest-posts-col-left {
		display: block;
	}

	.posts-col-right .entry-header {
		text-align: center;
	}

	.blog-recent-posts {
		margin-bottom: 20px;
	}

	.nieuwsbrief-wrapper {
		padding: 20px;
	}

	.nieuwsbrief-image {
		margin: 0px auto;
		background-size: 100% auto;
		width: 50%;
	}

	.nieuwsbrief-content {
		text-align: center;
		width: 100%;
	}
}

@media all and (min-width: 740px) {
	.posts-row {
		margin: 0 0 20px;
		padding: 0 0 20px;
		width: 100%;
	}
	.nieuwsbrief-image {
		float: left;
		width: 30%;
		margin: 0 10% 0 0;
	}

	.blog-recent-posts {
		float: left;
		width: 32%;
		margin: 0 2% 0 0;
	}

	.nieuwsbrief-image {
		float: left;
		width: 30%;
		margin: 0px 10% 0px 0px;
	}

	.blog-recent-posts {
		float: left;
		width: 32%;
		margin: 0px 2% 0px 0px;
	}

	.blog-recent-posts:last-of-type {
		margin: 0px;
	}
}

@media all and (min-width: 980px) {
	.posts-row {
		margin: 0 0 40px;
		padding: 0 0 40px;
		display: table;
	}

	.nieuwsbrief-wrapper {
		padding: 20px 40px;
	}
}
