/*********************
LINK STYLES
*********************/
a {
	color: $link-color;
	text-decoration: none;
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

%btn {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: $white;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px 20px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	@include transition(background-color 0.14s ease-in-out);

	&:hover, &:focus {
		color: $white;
		text-decoration: none;
		outline: none;
	}

	&:active {
		top: 1px;
	}
}

.green-btn {
	@extend %btn;
	background-color: #00ce5d;

	&:hover,
	&:focus {
		background-color: #fff;
		color: #00ce5d;
	}

	&:active {
		background-color: #fff;
		color: #00ce5d;
	}
}
