.wpcf7-form-control-wrap {
	position: relative;
	display: table;
	width: 100%;
	&:after{
		content: "\f00c";
		font-family: FontAwesome;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 18px;
		color: $form-icons;
		opacity: 0;
		transition: all .4s ease-in-out 0s;
	}
	&.active{
		&:after{
			opacity: 1;
		}
	}
	span.wpcf7-not-valid-tip{
		display: none;
	}
}

span.your-name::before,
span.your-company::before,
span.your-email::before,
span.your-tel::before,
span.your-message::before {
	font-family: FontAwesome;
	color: $form-icons;
	position: absolute;
	z-index: 10;
	left: 10px;
	font-size: 18px;
	top: 10px;
}
span.your-name::before {
	content: "\f007";
}
span.your-company::before {
	content: "\f1ad";
}
span.your-email::before{
	content: "\f0e0";
}
span.your-tel::before {
	content: "\f095";
}
span.your-message::before {
	content: "\f086";
}
div.wpcf7 .ajax-loader {
	display: none !important;
}

input[type="submit"],
button {
	color: #fff;
	width: 100%;
	padding: 10px 0;
	border: none;
	font-size: 25px;
	font-weight: 700;
	transition: all .4s ease-in-out 0s;
	background: $base-red;
	&:hover, &:focus {
		background: #fff;
		color:  $base-red;
	}
}

.contact-undertxt {
	font-weight: 700;
	.fa-lock{
		margin-right: 10px;
	}
}

// setting up defaults
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	display: block;
	line-height: 1.3em;
	padding: 10px 35px;
	margin-bottom: 14px;
	font-size: 1em;
	color: $text-color;
	border-radius: 3px;
	vertical-align: middle;
	box-shadow: none;
	border: 2px solid $gray;
	width: 100%;
	font-family: $lato;
	background-color: $gray;
	@include transition(background-color 0.24s ease-in-out);
	&:focus,
	&:active {
		background-color: lighten($gray, 4%);
		outline: none;
	}
	&.wpcf7-not-valid{
		border-color: $base-red;
	}
}

input[type="password"] {
	letter-spacing: 0.3em;
}

textarea {
	max-width: 100%;
	max-height: 100px;
	line-height: 1.5em;
}

select {
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-position: 97.5% center;
}

/*Gravity forms*/
.gform_wrapper{
	ul.gform_fields{
		margin: 0;
		.gfield_label{
			display: none;
		}
		li.gfield{
			margin: 0 0 1.5em;
			position: relative;
			.ginput_container{
				margin: 0;
				&:before,
				&:after{
					font-family: FontAwesome;
					color: $form-icons;
					position: absolute;
					top: 10px;
					z-index: 10;
					font-size: 18px;
				}
				&:before{
					left: 10px;
				}
				&:after{
					content: "\f00c";
					right: 10px;
					opacity: 0;
					transition: all .4s ease-in-out 0s;
				}
				&.active{
					&:after{
						opacity: 1;
					}
				}
			}
			&.icon-name{
				.ginput_container:before{
					content: "\f007";
				}
			}
			&.icon-mail{
				.ginput_container:before{
					content: "\f0e0";
				}
			}
			&.icon-phone{
				.ginput_container:before{
					content: "\f095";
				}
			}
			&.icon-message{
				.ginput_container:before{
					content: "\f086";
				}
			}
		}
	}
	.validation_error,
	.validation_message{
		display: none;
	}
	.gfield_error{
		input,
		textarea{
			border-color: red !important;
		}
	}
}
