.metaslider {
	border: 1px solid #ccc;
}

.page-number-wrapper {
	text-align: center;
}

ul.page-numbers {
	list-style: none;
	margin: 0;
}

ul.page-numbers {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #dfdbdf -moz-use-text-color #dfdbdf #dfdbdf;
	border-image: none;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
	clear: both;
	display: inline-block;
	margin: 1px;
	padding: 0;
	white-space: nowrap;
}

ul.page-numbers li {
	border-right: 1px solid #dfdbdf;
	display: inline;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.page-numbers a,
.page-numbers span {
	display: block;
	font-size: 1em;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	min-width: 1em;
	padding: 0.5em;
	text-decoration: none;
}

.page-numbers span.current {
	background: none repeat scroll 0 0 #f7f6f7;
	color: #978a97;
}
