.search-results{
	.block{
		display: block;
		padding-left: 35px;
		position: relative;
		margin-bottom: 25px;
		&:before{
			content: "\f105";
			font-family: FontAwesome;
			position: absolute;
			top: 0;
			left: 0;
		}
		img{
			display: none;
		}
		.author{
			.name{
				display: none;
			}
		}
	}
}