.main-navigation{
	@include bp('mobile'){
		width: 100%;
		background: #fff;
	}
	ul{
		margin: 0;
		transition: none;

		&.menu{
			@include bp('mobile'){
				position: absolute;
				width: 100%;
				background: #fff;
				height: calc(100vh - 60px);
				overflow: scroll;
				display: none;
			}

			@include bp('narrow'){
				display: table;
				padding: 20px 0 0;
			}
		}

		&.sub-menu{
			@include bp('mobile'){
				display: none;
			}

			@include bp('narrow'){
				position: absolute;
				top: 100%;
				left: -10px;
				z-index: 1;
				padding: 5px 10px;
				background: #fff;
				visibility: hidden;
			}

			li{
				@include bp('narrow'){
					padding: 0 0 5px;
					margin: 0;
				}

				&:last-of-type{
					@include bp('narrow'){
						padding: 0;
					}
				}

				ul{
					@include bp('narrow'){
						top: 0;
						left: 100%;
					}
				}

				a{
					@include bp('mobile'){
						font-size: 14px;
						height: calc((100vh - 60px - 150px) / #{$menu-item-amount});
						line-height: calc(
							(100vh - 60px - 150px) / #{$menu-item-amount}
						);
					}
					@include bp('narrow'){
						text-align: left;
						transition: none;
					}
				}
			}
		}
	}

	li{
		position: relative;
		
		@include bp('narrow'){
			display: inline-block;
			text-transform: uppercase;
			border-top: none;
			margin: 0 0 0 35px;
		}

		&:first-of-type {
			@include bp('narrow'){
				margin-left: 0;
			}
		}

		&.current_page_item{
			a{
				font-weight: bold;
			}
		}
		&.current-page-ancestor{
			a{
				font-weight: bold;
			}
		}

		&:hover{
			& > ul{
				@include bp('narrow'){
					top: auto;
					visibility: visible;
				}
			}
		}

		a{
			display: block;
			text-decoration: none;

			@include bp('mobile'){
				width: 100%;
				font-size: 16px;
				height: calc((100vh - 60px - 50px) / #{$menu-item-amount});
				line-height: calc((100vh - 60px - 50px) / #{$menu-item-amount});
				padding-left: 20px;
			}
			@include bp('narrow'){
				padding: 0;
				line-height: 1em;
			}
		}
	}
}