.menu-toggle {
	position: absolute;
	padding: 4px 0;
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
	@include bp('large'){
		display: none;
	}
	@include bp('mobile'){
		left: 10px;
		top: 14px;
	}
	@include bp('narrow'){
		right: 10px;
		top: 34px;
	}

	.line {
		margin: 0 0 8px 0;
		width: 30px;
		height: 2px;
		display: block;
		background: #000;
		transition: top 0.3s ease 0s, transform 0.3s ease 0s, opacity 0.3s ease 0s;
	}
	.last-line {
		margin: 0;
	}

	&.active {
		.first-line {
			transform: rotate(45deg);
			top: 14px;
			position: absolute;
		}
		.last-line {
			transform: rotate(-45deg);
			top: 14px;
			position: absolute;
		}
		.second-line {
			opacity: 0;
		}
	}
}

.submenu-toggle{
	@include bp('mobile'){
		display: block;
		position: absolute;
		right: 20px;
		top: 21px;
		font-size: 24px;
		font-weight: 600;
		width: 30px;
		height: 30px;
		text-align: center;
		z-index: 100;
		cursor: pointer;

		&:before,
		&:after{
			@include bp('mobile'){
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				width: 18px;
				background: black;
				margin: auto;
			}
		}
		&:after{
			@include bp('mobile'){
				transform: rotate(90deg);
			}
		}
		
		&.active{
			&:after{
				@include bp('mobile'){
					display: none;
				}
			}
		}
	}
	@include  bp('narrow'){
		display: inline-block;
		padding: 0 0 0 5px;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		position: relative;
		top: 2px;
		&:after{
			content: '\f106';
			font-family: $fa;
		}
	}
	

}