.login{
	background: url(../images/login-background.jpg) no-repeat center center;
	background-size: cover;
	#login{
		width: 100%;
		max-width: 1200px;
		position: relative;
		padding-top: 60px;
		height: 100vh;
		@include bp('mobile'){
			padding-top: 5px;
			margin: 0;
		}

		h1{
			text-align: left;
			a{
				background: url(../images/mb-login.svg) no-repeat top center;
				width: 257px;
				height: 50px;
				text-indent: -9999px;
				overflow: hidden;
				margin: 0;
				padding: 0;
				display: block;
				@include bp('mobile'){
					margin: 0 auto;
				}
			}
		}
		#login_error{
			border-left-color: #dc3232 !important;
		}
		.message{
			border-left-color: #00a0d2 !important;
		}
		#login_error,
		.message{
			margin-top: 30px;
			width: 376px;
			font-size: 16px;
			background-color: white;
			border-left: 15px solid;
			line-height: 1.2;
			@include bp('mobile'){
				width: calc(100% - 20px) !important;
				margin-left: 10px;
			}
		}
		form {
			position: absolute !important;
			left: 0;
			bottom: 8%;
			width: 376px;
			margin: 0;
			padding: 36px 36px 42px;
			font-weight: normal;
			background: white;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
			color: #707272;
			@include bp('mobile'){
				width: calc(100% - 20px);
				left: 10px !important;
				top: calc(50% + 20px);
				bottom: auto;
				transform: translateY(-50%);
				padding: 30px 25px 32px;
			}

			a{
				color: #707272;
			}
			&:before{
				content: "Inloggen";
				color: #082648;
				font-family: "Roboto Slab", sans-serif;
				font-size: 40px;
				font-weight: 300;
				line-height: 1em;
				text-align: center;
				display: block;
				margin-bottom: 0.4em;
			}
			label{
				margin-bottom: 0;
				display: block;
			}
			.input {
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
					sans-serif;
				font-size: 16px;
				padding: 13.5px 20px;
				margin-top: 0;
				margin-right: 0;
				margin-bottom: 8px;
				border: 1px solid #e5e5e5;
				background: #fff;
				outline: none;
				box-shadow: none;
			}
			.forgetmenot{
				float: none;
			}
			.submit{
				text-align: center;
				margin-top: 2em;
			}
			#wp-submit{
				display: inline-block;
				position: relative;
				text-decoration: none;
				color: #fff;
				font-size: 16px;
				line-height: 1em;
				font-weight: 400;
				padding: 12px 18px;
				border-radius: 0;
				border: 2px solid;
				cursor: pointer;
				background-color: #d45900;
				border-color: #d45900;
				box-shadow: none;
				text-shadow: none;
				height: auto;
				float: none;
			}
		}
		#backtoblog{
			display: none;
		}
		#nav{
			position: absolute;
			left: 200px;
			bottom: calc(8% + 112px);
			margin: 0;
			padding: 0;
			@include bp('mobile'){
				top: calc(50% + 105px);
				transform: translateY(-50%);
				left: auto;
				bottom: auto;
				right: 35px;
			}

			a{
				color: #707272;
			}
		}
	}
}