/*********************
GENERAL STYLES
*********************/

html,
body {
	background: #f6f6f6;
}
body {
	font-family: $open-sans;
	font-size: 18px;
	line-height: 1.5em;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	&.no-scroll {
		overflow: hidden;
		height: 100%;
	}
}
p {
	margin-bottom: 1.5em;
}
img {
	height: auto;
	max-width: 100%;
}
a,
a:hover,
div,
div:hover,
img,
img:hover,
input[type="submit"],
input[type="submit"]:hover,
button,
button:hover {
	transition: $transition;
}

/*********************
HEADER STYLES
*********************/
#zone-header-wrapper {
	background: #fff;
	position: relative;
}
#zone-header {
	margin: 0 auto;
	display: block;
}
#region-header {
	display: table;
	width: 100%;
}
.site,
#zone-content-wrapper {
	background: #fff;
}
#zone-preface-first,
#zone-preface-second,
#zone-postscript,
#zone-postscript-2 {
	margin: 0 auto;
	display: table;
}
#zone-preface-first {
	position: relative;
	width: 100%;
}

// // Meescrollend menu
// .site-header{
// 	#zone-header-wrapper{
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		margin: 0 auto;
// 		z-index: 100;
// 		max-width: $site-width;
// 		width: 100%;
// 	}
// }

/*********************
LAYOUT & GRID STYLES
*********************/

/* misc */
.form-allowed-tags,
.cat-links,
.home .breadcrumb {
	display: none;
}
.breadcrumb{
	position: relative;
	#breadcrumbs {
		position: absolute;
		top: 10px;
		left: 0;
		font-size: 12px;
		line-height: 1em;
		margin: 0;
	}
}

.center {
	margin: 0 auto;
	display: table;
}

.alignleft {
	float: left;
	margin-right: 1.5em;
}
.alignright {
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.uppercase {
	text-transform: uppercase;
}
.wrapper {
	display: table;
	width: 100%;
}
.image {
	img {
		display: block;
	}
}
.text-center {
	text-align: center;
}
.relative{
	position: relative;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES / Other titels
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	text-rendering: optimizelegibility;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.4em;
	margin: 0;
	a {
		text-decoration: none;
	}
}

h1,
.h1 {
	font-size: 40px;
	margin-bottom: 0.6em;
}

h2,
.h2 {
	font-size: 32px;
	margin-bottom: 0.6em;
}

h3,
.h3 {
	font-size: 26px;
}

h4,
.h4 {
	font-size: 20px;
}

/*********************
LOGO & NAVIGATION STYLES
*********************/

.logo a {
	display: inline-block;
}

/* Toggle menu */
.mobile-menu {
	display: none;
}

.menu-toggle {
	cursor: pointer;
	display: none;
}

.menu-toggle,
.main-navigation.toggled .nav-menu {
	display: block;
}

.main-navigation ul {
	transition: none;
}

.menu-toggle {
	position: absolute;
	padding: 4px 0;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	.line {
		margin: 0 0 8px 0;
		width: 30px;
		height: 2px;
		display: block;
		background: #000;
		transition: top 0.3s ease 0s, transform 0.3s ease 0s,
			opacity 0.3s ease 0s;
	}
	.last-line {
		margin: 0;
	}
}

.menu-toggle-active {
	.first-line {
		transform: rotate(45deg);
		top: 14px;
		position: absolute;
	}
	.last-line {
		transform: rotate(-45deg);
		top: 14px;
		position: absolute;
	}
	.second-line {
		opacity: 0;
	}
}

#menu-sitemap {
	margin: 0;
	ul {
		margin: 0;
	}
	li {
		padding-left: 20px;
		position: relative;
		&:before {
			content: "\f105";
			font-family: $fa;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

/*********************
CONTENT STYLES
*********************/

.entry-content {
	p {
		margin: 0 0 1.5em;
	}
	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;
	}
	tr {
		border-bottom: 1px solid $gray;
		&:nth-child(even) {
			background-color: $light-gray;
		}
	}
	td {
		padding: 7px;
		border-right: 1px solid $gray;
		&:last-child {
			border-right: 0;
		}
	}
	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;
		&:last-child {
			border-right: 0;
		}
	}
	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid #000;
		font-style: italic;
	}
	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
}
.tags {
	margin: 0;
}

.object-fit {
	background-size: cover;
	background-position: center;
}

.popup {
	display: none;
	position: fixed;
	top: 100%;
	left: 40px;
	right: 40px;
	max-width: 600px;
	max-height: calc(100vh - 20px);
	transform: translateY(-50%);
	margin: auto;
	background: #fff;
	overflow: scroll;
	z-index: 1001;
	opacity: 0;
	&.active {
		display: block;
	}
	&.show{
		opacity: 1;
		top: 50%;
	}
	.close {
		position: absolute;
		top: 20px;
		right: 40px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		.line {
			width: 45px;
			height: 2px;
			background: #000;
			position: absolute;
			top: 19px;
			left: -2px;
			&.first-line {
				transform: rotate(45deg);
			}
			&.last-line {
				transform: rotate(-45deg);
			}
		}
	}
	.content {
		padding: 30px;
		.gform_wrapper {
			padding-top: 25px;
			ul.gform_fields {
				.gfield_label {
					display: block;
					font-weight: 400;
					margin-top: 20px;
				}
				input[type="text"],
				textarea {
					background-color: #f7f8fa;
				}
			}
			button {
				margin-top: 20px;
			}
		}
	}
}
.popup-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 1);
	opacity: 0;
	z-index: 1000;
	&.active {
		display: block;
	}
	&.show{
		opacity: 1;
	}
}

/*********************
FOOTER STYLES
*********************/
#zone-footer-wrapper {
	background: #fff;
	#zone-footer {
		margin: 0 auto;
		padding: 30px 0;
		display: table;
		font-weight: 300;
		font-size: 12px;
		ul {
			margin: 0 0 20px;
			list-style: none;
		}
	}
}
#zone-footer-wrapper-2 {
	background: #fff;
	#zone-footer-2 {
		color: #000;
		text-align: center;
		padding: 10px 0;
		display: table;
		margin: 0 auto;
		font-size: 75%;
		a {
			color: #000;
		}
	}
}
