/*********************
GENERAL STYLES
*********************/

body {
	font-size: 80%;
}

.center {
	padding: 0px 10px;
}

.menu-toggle-desktop,
.mobile-none,
.logo-normal {
	display: none;
}
.logo-mobile{
	height: 35px;
	vertical-align: middle;
}
.phone-number{
	position: absolute;
	right: 10px;
	top: 13px;
}
.phone-number-icon{
	font-size: 25px;
}

.pad-both{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pad-top{
	padding-top: 50px;
}
.pad-bottom{
	padding-bottom: 50px;
}

/*********************
Navigation
*********************/
.overlay-menu {
	position: relative;
	height: 100%;
}

.mobile-menu {
	display: block;
}

#zone-navigation-wrapper {
	margin: 0 0 20px;
	width: 100%;
}

#site-navigation.gutter {
	margin: 0;
}

.main-navigation {
	width: 100%;
	background: #fff;
	ul{
		display: none;
		margin: 0;
		ul.sub-menu{
			display: none;
			li{	
				a{
					background: #ccc;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
		li{
			a{
				border-top: 1px solid #ccc;
				padding: 24px 10px;
				text-align: center;
				width: 100%;
				font-size: 15px;
				text-transform: uppercase;
				display: table;
				&.submenu-toggle{
					width: 20px;
					display: block;
				}
			}
		}
	}
}

/*********************
MISC
*********************/

.breadcrumb{
	display: none;
}

/*********************
CONTENT STYLES
*********************/

.popup{
	left: 10px;
	right: 10px;
	.close{
		top: 10px;
		right: 20px;
		width: 35px;
		height: 35px;
		.line{
			width: 40px;
			top: 17px;
		}
	}
	.content{
		padding: 20px 20px 20px;
		.gform_wrapper{
			padding-top: 0px;
			ul.gform_fields{
				.gfield_label{
					margin-top: 10px;
				}
			}
			button{
				margin-top: 10px;
			}
		}
	}
}