/*********************
GENERAL STYLES
*********************/

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/*********************
HEADER STYLES
*********************/

.site {
	max-width: $site-width;
	margin: 0 auto;
}
#zone-navigation,
#zone-content {
	margin: 0 auto;
	display: table;
}
.site-branding {
	float: left;
	padding: 7px 0;
}
.phone-number {
	display: none;
}

// // Meescrollend menu
// .site-header{
// 	&.site-header-up{
// 		#zone-header-wrapper{
// 			top: -100px;
// 		}
// 	}
// }

/*********************
LAYOUT & GRID STYLES
*********************/

.pad-both {
	padding-top: $pad-normal;
	padding-bottom: $pad-normal;
}
.pad-top {
	padding-top: $pad-normal;
}
.pad-bottom {
	padding-bottom: $pad-normal;
}

.pad-both-half {
	padding-top: $pad-normal-half;
	padding-bottom: $pad-normal-half;
}
.pad-top-half {
	padding-top: $pad-normal-half;
}
.pad-bottom-half {
	padding-bottom: $pad-normal-half;
}

.mobile-only {
	display: none;
}

#secondary {
	margin: 20px 0;
	float: right;
}

/*********************
LOGO & NAVIGATION STYLES
*********************/
.logo img {
	vertical-align: middle;
}
.logo-mobile {
	display: none;
}

.menu-toggle,
.submenu-toggle {
	display: none;
}

.main-navigation {
	float: right;
	ul {
		margin: 0;
		&.menu{
			display: table;
			padding: 40px 0;
		}
	}
	li {
		float: left;
		font-weight: 400;
		text-transform: uppercase;
		border-top: none;
		position: relative;
		margin: 0 auto;
		border-right: 1px solid #000;
		&:last-of-type {
			border-right: 0px;
		}
		a {
			border-bottom: 0;
			display: block;
			text-decoration: none;
			text-align: center;
			padding: 0;
			font-size: 20px;
			line-height: 1em;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
		ul.sub-menu,
		ul.children {
			position: absolute;
			top: 100%;
			left: -10px;
			z-index: 1;
			padding: 5px 10px;
			background: #fff;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			visibility: hidden;
			width: 200px;
			li {
				padding: 0 0 5px;
				margin: 0;
				&:last-of-type{
					padding: 0;
				}
				a {
					text-align: left;
					transition: none;
				}
				ul {
					top: 0;
					left: 100%;
				}
			}
		}
		&:hover > ul {
			top: auto;
			visibility: visible;
		}
	}
}

/*********************
CONTENT STYLES
*********************/

/*********************
FOOTER STYLES
*********************/
