/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;

}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.site {
	max-width: 1600px;
	margin: 0 auto;
}

#zone-navigation,
#zone-content {
	margin: 0 auto;
	display: table;
}

.pad-both{
	padding-top: 150px;
	padding-bottom: 150px;
}
.pad-top{
	padding-top: 150px;
}
.pad-bottom{
	padding-bottom: 150px;
}

/*********************
HEADER STYLES
*********************/
.site-branding {
	float: left;
	padding: 7px 0;
}
.logo img {
	vertical-align: middle;
}
.logo-mobile {
	display: none;
}
.phone-number{
	display: none;
}


/*********************
CONTENT STYLES
*********************/

.mobile-only{
	display: none;
}

/*********************
NAVIGATION STYLES
*********************/

.menu-toggle,
.submenu-toggle {
	display:		none;
}

.main-navigation {
	float: right;
	ul {
		display: block;
		margin: 0;
		padding: 40px 0 60px; 
	}
	li {
		float:					left;
		font-weight:			400;
		text-transform:			uppercase;
		border-top:				none;
		position: 				relative;
		margin: 				0 auto;
		border-right: 			1px solid #000;
		&:last-of-type{
			border-right: 0px;
		}
		a {
			border-bottom: 0;
			display: block;
			text-decoration: none;
			text-align: center;
			padding: 0;
			font-size: 20px;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
		ul.sub-menu,
		ul.children {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			background: #fff;
			visibility: hidden;
			float: left;
			left: 0;
			position: absolute;
			top: 40px;
			z-index: 99999;
			margin: 0;
			li {
				padding: 5px;
				margin: 0;
				font-size: 80%;
				a {
					width: 200px;
					background: #fff;
					color: #000;
					text-align: left;
					padding-left: 10px;
				}
				&:last-child {
					a {
						border-bottom: 0;
					}
				}
				ul {
					top:0;
					left:100%;
				}
			}
		}
		&:hover > ul {
			top: auto;
			visibility:hidden;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

#secondary {
	margin: 20px 0;
	float: right;
}


/*********************
FOOTER STYLES
*********************/

