/******************************************************************
Site Name:
Author:

Stylesheet: Small Tablet



******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;

}

.float-left {
	float:			left;
}

.float-right {
	float:			right;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.site {
	max-width: 1600px;
	margin: 0 auto;
}

#zone-navigation,
#zone-content {
		margin:					0 auto;
		display:				table;
}

.page-pad {
	padding: 50px 0;
}

.page-pad-top {
	padding: 50px 0 0;
}

/*********************
HEADER STYLES
*********************/

.site-branding {
	float: left;
	padding: 7px 30px
}

.logo img {
	height:					50px;
	vertical-align: 		middle;
}

.logo-mobile {
	display:				none;
}


/*********************
CONTENT STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/

.menu-toggle,
.submenu-toggle {
	display:		none !important;
}

.main-navigation {

	ul {
		display: block;
		margin: 0;
		padding: 40px 0 60px; 
	}
	li {
		float:					left;
		font-weight:			400;
		text-transform:			uppercase;
		border-top:				none;
		position: 				relative;
		width: 					50%;
		margin: 				0 auto;
		border-right: 			1px solid #000;
	
		a {
			border-bottom: 0;
			display: block;
			text-decoration: none;
			text-align: center;
			padding: 150px 0 0;
			font-size: 20px; 
			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				text-decoration: underline;
				color: #e12534;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			background: #fff;
			visibility: hidden;
			float: left;
			left: 0;
			position: absolute;
			top: 40px;
			z-index: 99999;
			margin: 0;
			li {
				padding: 5px;
				margin: 0;
				font-size: 80%;
				a {
						width: 200px;
						background: #fff;
						color: #000;
						text-align: left;
						padding-left: 10px;
					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:hidden;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */


} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

#secondary {
		margin:					20px 0;
		float:					right;
	}


/*********************
FOOTER STYLES
*********************/

