html,
body {
	background: #f6f6f6;
}
body {
	font-family: $open-sans;
	font-size: 18px;
	line-height: 1.5em;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;

	@include bp('mobile'){
		font-size: $mobile-font-size;
	}

	&.no-scroll {
		overflow: hidden;
		height: 100%;
	}
}

* {
    box-sizing: border-box;
}

p {
	margin-bottom: 1.5em;
	a{
		text-decoration: underline;
	}
}

img {
	height: auto;
	max-width: 100%;
}

a,
a:hover,
div,
div:hover,
img,
img:hover,
input[type="submit"],
input[type="submit"]:hover,
button,
button:hover {
	transition: $transition;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
	&:link {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
	}
}

.site{
	background: #fff;

	@include bp('narrow'){
		max-width: $site-width;
		margin: 0 auto;
	}
}

.entry-content {
	p {
		margin: 0 0 1.5em;
	}
	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;
		th {
			background-color: $light-gray;
			border-bottom: 1px solid $gray;
			border-right: 1px solid $gray;
			&:last-child {
				border-right: 0;
			}
		}
		tr {
			border-bottom: 1px solid $gray;
			&:nth-child(even) {
				background-color: $light-gray;
			}
		}
		td {
			padding: 7px;
			border-right: 1px solid $gray;
			&:last-child {
				border-right: 0;
			}
		}
	}
	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid #000;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	ol{
		margin-left: 1.5em;
		list-style-type: decimal;
	}
	ul{
		&.angle{
			li{
				&:before{
					content: $fa-angle-right;
				}
			}
		}
		&.check{
			li{
				&:before{
					content: $fa-check;
				}
			}
		}
		&.caret{
			li{
				&:before{
					content: $fa-caret-right;
				}
			}
		}
	}
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}