.page-number-wrapper {
	margin: 2.2em auto 0;
	display: table;
	position: relative;
	ul.page-numbers{
		padding: 0;
		margin: 0;
		white-space: nowrap;
		li {
			float: left;
			border-right: 1px solid $hue1;
			&:last-child{
				border: none;
			}
		}
	}
	a,
	span {
		line-height: 1em;
		padding: 0 10px;
		text-decoration: none;
		font-weight: 400;
		color: $hue1;
		&.current {
			font-weight: bold;
		}
	}
}