/* archive */
.button.product_type_simple{
	display: none;
}

.archive.woocommerce p, .woo-uitgelicht p{
	width: 100% !important;
	text-align: left !important;
}

.archive.woocommerce, .woo-uitgelicht{
	.producten-overzicht{
		display: table;
		.woocommerce-result-count{
			display: none;
		}
		.woocommerce-ordering{
			display: none;
		}
	}
	.producten-archive-sidebar{
		.title{
			font-weight: 700;
			font-size: 22px;
			padding-bottom: 15px;
			color: #eee;
			a{
				color: #eee;
			}
		}
		.advies{
			margin-bottom: 50px;
			.icon{
				padding-left: 25px;
				position: relative;
				&:before{
					font-family: FontAwesome;
					position: absolute;
					left: 0;
					top: -1px;
				}
				&.phone{
					&:before{
						content: "\f095";
					}
				}
				&.mail{
					&:before{
						content: "\f0e0";
					}
				}
			}
		}
		ul.categories{
			margin-top: 0;
			li{
				a{
					position: relative;
					padding-left: 25px;
					&:before{
						font-family: FontAwesome;
						content: "\f096";
						position: absolute;
						left: 0;
					}
				}
				&.active{
					a{
						&:before{
							content: "\f046";
						}
					}
				}
			}
		}
	}
	h1.title-archive {
		text-align: center;
	}
	p{
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	hr{
		height: 1px;
		color: #123455;
		background-color: #d7d7d7;
		border: none;
		width: 75%;
	}
	ul.products {
		float: right;
		clear: none;
		li.product {
			position: relative;
			box-shadow: none !important;
			background-color: #f8f8f8;
			clear: initial;
			a.add_to_cart_button {
				background: #eee;
				color: #fff;
				font-size: 15px;
				padding: 15px 10px 12px;
				&:hover{
					background: #ddd;
					color: $text-color;
				}
				&.ajax_add_to_cart{
					display: none;
				}
			}
			a.product_type_variable{
				display: none;
			}
			.price {
				padding: 30px 10px;
				width: 80px;
				background: transparent;
				color: #000;
				font-weight: 700;
				font-size: 25px;
				del{
					position: relative;
					top: 20px;
				}
				ins{
					position: relative;
					top: 15px;
				}
			}
			h2.woocommerce-loop-product__title {
				padding: 0.5em 10px;
				text-align: left;
			}
		}
	}
}

.woocommerce-account{
	.entry-content{
		background: $light-gray;
	}
}

.offsite-data-adv{
	font-weight: 600;
	display: table;
	width: 100%;
	margin: 0px 0px 60px;
	position: relative;
	top: 20px;
	a{
		margin: 10px 0;
	}
	p{
		img{
			margin-right: 10px;
			position: relative;
			top:5px;
		}
		padding: 15px 0px;
		text-align: center !important;
		color: #dd212e;
		font-size: 18px;
		border-top: 1px solid #dd212e;
		border-bottom: 1px solid #dd212e;
	}
}

//filter
.filter-menu {
	background: #000 none repeat scroll 0 0;
	color: #fff;
	cursor: pointer;
	display: table;
	margin: 0 0 20px 20px;
	padding: 5px 26px;
}

#woocommerce_product_categories-2{
	display: none;
}

#woocommerce_product_categories-2.categories-active{
	display: table;
}

.archive.woocommerce, .woo-uitgelicht {
	ul.product-categories {
		display: block;
		width: 100%;
		float: left;
		clear: none;
		margin: 0;
		li.cat-parent,
		li.cat-item-54, li.cat-item-37,
		li.cat-item-55,li.cat-item-36 {
			margin-bottom: 25px;
			a {
				color: #000;
				font-weight: 700;
				font-size: 1.3em;
			}
		}
		ul.children {
			list-style: none;
			margin:	 0 0 0 15px;
			li a {
				font-weight: 300;
				color: inherit;
				font-size: inherit;
			}
		}
	}
}

// Pagination
.woocommerce nav.woocommerce-pagination {
	background: #fff none repeat scroll 0 0;
	margin: 0 auto;
	padding: 10px 25px 5px;
	text-align: center;
	ul {
		border:0; 
		li {
			margin-right: 5px;
			border: none;
			background: #f6f6f6;

			span.current {
				background: #f6f6f6;
				padding: 8px 12px;
			}
			a {
				padding: 8px 12px;
			}
		}
	}
}

//Search
.woocommerce-product-search {
	button[type="submit"] {
		display: none;
	}
	input[type="search"]{
		width: 140px;
		padding: 4px 0 4px 10px !important;
		border: 2px solid #c5c6c8;
		margin: 0;
		font-size: 16px;
	}
}

// UITGELICHT
.woo-uitgelicht {
	.columns-3 {
		width: inherit;
	}
	ul.products {
		float: none;
		margin: 30px auto 0;
	}
}

//MISC
.woocommerce h2.webshop-cat {
	font-size: 1.5em;
	margin: 0 0 30px;
}

.woocommerce-cart .quantity .qty,	 
.single-product .quantity .qty {
	padding: 10px 5px;
}

.single-product .product_meta,
.woocommerce div.product-add.product p.stock {
	display: none;
}

.woocommerce .woocommerce-ordering select {
	width:			100%;
	font-size:		80%;
}

.woocommerce-product-gallery__image a {
	pointer-events: none;
}

#billing_country_field{
	display: none;
}

//titles
.new-tab-title{
	padding: 60px 0px;
	text-align: center;
	font-size: 35px !important;
	color: #e12534;
}

#tab-description,
#tab-test_tab{
	.italic{
		position: relative;
		top: 10px;
		font-size: 18px;
	}
}

//Cart dropdown
.shop-items-cart {
	float: left;
	position: relative;
	.cart-contents {
		background: #ed1c24 none repeat scroll 0 0;
		border-radius: 20px;
		color: #fff;
		font-size: 70%;
		height: 20px;
		line-height: 1.5em;
		padding: 0;
		position: absolute;
		right: 22px;
		text-align: center;
		top: 55px;
		width: 20px;
	}
}

.cart-dropdown{
	position: absolute;
	background: #fff;
	margin: 0 auto;
	width: 300px;
	display: none;
	top: 90px;
	right: 0;
	z-index: 9999;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	&:before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		background: #fff;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		right: 30px;
		top: -8px;
	}
	.woocommerce a.wc-forward {
		display: table;
		font-size: 80%;
		background: none;
		text-align: center;
		width: 200px;
		margin: 0 auto;
		&:last-of-type {
			margin-top: 10px;
			background: #000;
			color: #fff;
		}
	}
}

.woocommerce.widget_shopping_cart	{
	ul.cart_list {
		max-height: 189px;
		overflow: scroll;
		width: 100%;
		padding: 2px 6px;
		display: block;
		li {
		 border-bottom: 1px solid #ebe9eb;
		 font-size: 14px;
		 text-align: right;
		 line-height: 1.4em;
		 padding-top: 4px;				
				&:last-of-type {
				border-bottom: 0px;
				}
			a {
				font-size: 14px;
				text-align: right;
				line-height: 1.4em;
				color: #900028;
				padding-left: 0;
			}
			a.remove {
				display: none;
			}
			img {
				float: left;
			}
		}
	}
}

p.total {
	text-align: right;
	padding-right: 8px;
}

.toggle-cart-active {
	display: block;
}


//Single
.product-intro {
	background-color: #f8f8f8;
	padding: 10px;
}

.single-product .quantity .qty, .woocommerce-cart .quantity .qty {
	height: 60px;
	width: 60px;
	margin: 0px;
	font-weight: 900;
	border: 2px solid $boshuis-lightblue;
}
.woocommerce-cart .quantity br{
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before{
	content: '';
	box-shadow: 0px !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before{
	content: '';
	left: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-width: 0px !important;
	box-shadow: 0px !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before{
	content: '';
	border: 0px;
	position: static;
	width: 0px;
	height: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before{
	position: static;
	content: '';
	border-bottom: 0px;
	z-index: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 0px;
}

.single-product .entry-summary p.price::before {
	content: '';
}

.morgen-thuis{
	float: left;
	width: 100%;
	color: #5abebe;
	margin: 85px 0px 0px 0px;
	font-weight: bold;
}

.morgen-thuis:before {
	content: '\f058';
	font-family: 'FontAwesome';
	color: #5abebe;
	margin-right: 10px;
}

.woocommerce-product-gallery__image, .wp-post-image {
	max-width: 530px;
	width: 100%;
}

.reset_variations,
#tab-title-additional_information{
	display: none !important;
}

.single-product {
	.lees-verder-woo {
		display: none;
	}
	div.entry-summary {
		
		.italic:nth-child(2){
			position: relative;
			top: 5px;
		}
		
		p.price {
			width: 240px;
			float: left;
			padding-right: 50px;
			color: $text-color;
			span.amount {
				font-size: 33px;
				font-weight: 900;
			}
		}
		form.cart{
			position: relative;
			div.quantity{
				margin: 0;
			}
		}

		select{
			border-color: $boshuis-lightblue;
			padding-left: 10px;
		}

		.woocommerce-variation-availability{
			display: table;
			width: 100%;
		}

		table.variations{
			td.label{
				display: none;
			}
		}

		.single_add_to_cart_button:after {
			content: '\f07a';
			color: #fff;
			font-family: FontAwesome;
			font-size: 30px;
			transition: all .4s ease-in-out 0s;
		}

		.single_add_to_cart_button:hover{
			 .single_add_to_cart_button:after{
				color: #000;
			 }
		}

		.single_add_to_cart_button {
			margin-top: 25px;
			background-color: #eee;
			font-weight: 700;
			padding: 10px 15px 16px;
			width: 300px;
			transition: all .4s ease-in-out 0s;
			&:hover{
				background-color: #ddd;
				color: $text-color;
				&:after{
					color: $text-color;
				}
			}
			&.disabled{
				background-color: #eee !important;
				opacity: 1;
				&:hover{
					background-color: #ddd !important;
					color: $text-color;
					&:after{
						color: $text-color;
					}
				}
			}
		}
		.woocommerce-variation-add-to-cart{
			button{
				margin-top: 0;
				float: right !important;
			}
		}
	}
}


div.product-addon {
	position: relative;
	h3.addon-name {
		margin: 0;
		display: inline-block;
		i{
			cursor: pointer;
		}
	 }
	.addon-description {
		display: none;
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		margin: auto;
		background: #fff;
		padding: 5px 10px;
		border: 1px solid #ddd;
		font-size: 16px;
		z-index: 99;
		&.show{
			display: table;
		}
		&:before{
			content: "";
			width: 15px;
			height: 15px;
			position: absolute;
			top: -8px;
			left: 0;
			right: 0;
			margin: auto;
			transform: rotate(45deg);
			background: #fff;
			border-left: 1px solid #ddd;
			border-top: 1px solid #ddd;
		}
		p{
			margin: 0;
		}
	}
}

.lees-verder-woo{
	display: none;
}

.single-product {
	.full-width {
		display: table;
		width: 100%;
	}
	.related {
		h2 {
			font-size:		200%;
			text-align:	 center;
			margin:		 0 0 2em;
		}
		ul.products li {
			-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
			-moz-box-shadow:	0px 0px 5px 0px rgba(50, 50, 50, 0.25);
			box-shadow:		 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
			text-align: center;
		}
		h2.woocommerce-loop-product__title {
			text-transform: none;
			margin: 0 5px !important;
		}
		a.add_to_cart_button {
			background: #000;
			color: #fff;
			border-radius: 0;
		}
	}
}

.woocommerce-placeholder.wp-post-image{
	width: 260px !important;
	height: 260px !important;
	padding: 20px;
	margin: 0px auto !important;
}

#commentform{
	.form-submit{
		 #submit{
			width: 60% !important;
					} 
	}
}

//Second
.full-wrapper{
	background-color: #F8F8F8;
	padding-bottom: 60px;
}

#tab-description,
#tab-test_tab{
	background-color: #fff;
	h3, h4{
		margin: 0px;
	}
	h3{
		font-weight: bold;
		font-size: 35px;
		color: #e12534;
	}
	#tab-description:nth-child(2),
	#tab-test_tab:nth-child(2){
		margin-top: 10px;
	}
}

.second-content-product{
	width: 100%;
}

//third
.last-full-wrapper{
	.columns-12{
		display: table;
		margin: 0 auto;
		.products{
			min-width: 100%;
			list-style: none;
			margin: 0px !important;
			.offsite-data-adv{
				display: none;
			}
			li:nth-child(2){
				margin: 0px 185px !important;
			}
			li{
				margin: 0 auto 120px auto !important;
				background-color: #f8f8f8;
				box-shadow: none !important;
				.woocommerce-product-detail{
					display: block;
					margin: 0 auto;
					width: 70%;
					float: none;
				}
				h2{
					font-weight: bold;
					font-size: 18px !important;
					color: #000;
					text-align: left;
					padding: 0px !important;
					margin: 0px !important;
				}
				.italic{
					margin-top: 10px;
				}
				.attachment-shop_catalog{
					padding: 20px;
					width: 260px !important;
					margin: 0 auto !important;
				}
				.triangle-grey{
					right: 24px !important;
				}
				.morgen-thuis{
					float: left;
					position: relative;
					top: 40px;
					margin: 0px;
				}
				.price{
					font-size: 18px !important;
					font-weight: bold !important;
					text-align: left !important;
					color: #000 !important;
					margin: 10px 0;
				}
				.add_to_cart_button{
					background-color: #00d057 !important;
					margin-bottom: 20px;
				}
			}
		}
	}
}

//SALE
.woocommerce span.onsale:before{
	content: "";
	width: 96px;
	height: 98px;
	background: url(../images/korting-banner.png) no-repeat;
	position: absolute;
	left: -17px;
	z-index: -1;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.woocommerce span.onsale{
	background-color: transparent;
}

.woocommerce ul.products li.product .onsale{
	top: 0;
	left: -9px;
	right: auto;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.home span.onsale {
	display: none;
}
// Cart

.woocommerce-cart div.wc-proceed-to-checkout a.checkout-button {
	background: #eee;
	padding: 0px 10px 15px; 
	font-size: 1em;
	&:hover {
		background:	#ddd;
		color: $text-color;
	}
}
.calculated_shipping{
	h2{
		color: #e12534;
		text-transform: uppercase;
	}
}
.woocommerce-cart table.shop_table div.coupon input#coupon_code {
	line-height: 1.5em;
	padding: 2px 10px;
	width: 160px !important;
}

.woocommerce-cart h2 {
	font-size: 1.5em;
}

.woocommerce-cart{
	table.cart{
		th.product-thumbnail{
			&:before{
				content: "Afbeelding";
			}
		}
		.product-thumbnail{
			text-align: center;
			img{
				margin: 0 auto;
				width: 50px;
				display: block;
			}
		}
		.product-remove{
			a{
				margin: 0 auto;
			}
		}
		.actions{
			p{
				margin: 0;
			}
			.coupon{
				margin-top: 3px;
			}
		}
	}
	table.shop_table{
		.shipping{
			p{
				margin: 0;
			}
			td{
				line-height: 1.8em;
			}
		}
	}
	.cart_totals{
		h2{
			display: none;
		}
	}
}



.woocommerce-message{
	border-top-color: #eee;
	max-width: 1180px;
	margin: 60px auto 0;
	line-height: 2.2em;
	&:before{
		color: #eee;
		top: 0.9em;
	}
}

//Checkout

.woocommerce-checkout {
	#order_review {
		border: 4px solid #000;
		float: left;
		font-size: 80%;
		.wc-terms-and-conditions{
			span{
				font-size: 14px;
			}
		}
		#place_order{
			background: #eee;
			padding: 14px 15px 10px;
			font-size: 18px;
			text-align: center;
			display: table;
			width: 100%;
			transition: all .4s ease-in-out 0s;
			&:hover{
				color: $text-color;
				background: #ddd;
			}
		}
	}
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	textarea{
		padding-left: 20px;
		padding-right: 20px;
	}
	.woocommerce-checkout-review-order-table{
		tr{
			background: transparent !important;
			&.order-total th,
			&.order-total td{
				background-color: #f8f9fa;
			}
		}
		th{
			border-bottom: none;
			background: transparent;
			&.product-name,
			&.product-total{
				background-color: #f8f9fa !important;
			}
		}
	}
}

.woocommerce-checkout #payment div.form-row {
	height: 80px;
	padding: 0 1em;
}

.woocommerce table.shop_table div.coupon input.button,
.woocommerce div#payment div.form-row input#place_order {
	background: #eee;;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	padding: 7px 10px 7px;
	position: relative;
	border-radius: 0px;
	width: initial;
}

.woocommerce div#payment div.form-row input#place_order {
	margin-top: 22px;
}

.woocommerce-checkout{
	input,
	textarea{
		border-color: $boshuis-lightblue;
	}
}

.woocommerce-product-details__short-description,
.woocommerce-tabs{
	ul.angle{
		li{
			padding-left: 20px;
			position: relative;
			&:before{
				font-family: FontAwesome;
				content: "\f105";
				position: absolute;
				top: 0;
				left: 0;
				line-height: 1.2em;
			}
		}
	}
}

.woocommerce-tabs{
	.tabs{
		display: table;
		width: 100%;
		margin: 0px 0px 50px;
		text-align: center;
		border-top: 2px solid #86adc1;
		border-bottom: 2px solid #86adc1;
		li a {
			padding: 14px 20px 8px;
		}
	}
}

#tab-title-description, #tab-title-test_tab {
	a{
		float: left;
		color: #eee;
		font-weight: 700;
		max-width: 50%;
		width: 100%;
	}
	&.active{
		a{
			background-color: #fff;
			position: relative;
		}
	}
}

.wrapper {
	display: table;
	width: 100%;
}

.tab-description {
	background-color: #fff;
	padding: 10px;
}

.summary.entry-summary{
	font-size: 18px;
	.price {
		float: left;
		margin: 20px 0px 0px 0px;
	}
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	padding: 0.8em 1em 0.4em;
	border-radius: 0;
}
.woocommerce .actions input.button{
	float: right;
	width: initial;
	padding: 0.8em 1em 0.4em !important;
}

.archive.woocommerce ul.products li.product .price, .woo-uitgelicht ul.products li.product .price {
	background-color: transparent;
	bottom: 0px;
	right: 15px;
}

.up-sells{
	h2{
		text-align: center;
		font-size: 35px;
		text-transform: uppercase;
	}
}

.single-product .related ul.products li{
	text-align: left !important;
}

.single-product .related h2{
	margin: 0px !important;
}
