.wc-intro{
	width: 75%;
	float: right;
}

.archive.woocommerce, .woo-uitgelicht{
	.producten-overzicht{
		float: right;
	}
	.producten-archive-sidebar{
		float: left;
		margin-right: 3%;
		.onze-producten{
			margin-bottom: 50px;
		}
	}
}

//Archive
.archive.woocommerce li.product, .woo-uitgelicht li.product {
	a.add_to_cart_button, .lees-verder-woo {
		margin: auto;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.woocommerce div.wc-proceed-to-checkout{
	width: 100%;
}

.woocommerce-image-overzicht{
	.attachment-shop_catalog{
		width: 100% !important;
		max-width: 300px;
		max-height: 300px;
		margin: 0em !important;
	}
}

a.add_to_cart_button:hover{
	background-color: #fff;
}
	
a.add_to_cart_button:hover{
	&:before{
		color: #00d057;
	}	
}

.lees-verder-woo{
	display: none;
}

a.add_to_cart_button {
	width: 100% !important;
	border: 0px;
	border-radius: 3px;
}

.morgen-thuis{
	margin-top: 40px;
}

.lees-verder-woo {
	top: 25%;
}
	
.woocommerce-product-detail {
	transition: none;
	min-height: 150px;
	padding: 20px 18px;;
}

//Cart
.woocommerce div.wc-proceed-to-checkout {
	display: table;
	float: right;
}

//Check-out
.woocommerce-checkout {
	#order_review {
		padding: 20px;
	}
}

// Single 
.single-product	{
	.entry-summary h1.product_title {
		margin: 20px 0 0;
	}
	#content div.product {
		div.images{
			float: left;
			width: 45%;
		}
		div.summary {
			float: right;
			width: 50%;
		}
	}
	ul.products{
		li.product {
			h3 {
				font-size: 25px;
				min-height: 75px; 
			}
		}
	}

}

.woocommerce div.product div.images {
	margin-bottom: 70px;
}

div.product-addon {
	margin: -30px 0px 40px -160px;
}

// Related
.woocommerce .related ul.products li.product{
	margin: 0 1%;
	width: 23%;
	clear: none;
}

//Checkout-steps
.checkout-steps {
	display: block;
	margin: 30px 0;
	ul {
		list-style: none;
		padding: 0; 
		li.current {
			background:	#eee;
			color: #fff;
			&:after {
				border-color: transparent transparent transparent #eee;
				border-left: 10px solid	#eee;
			}
			a {
				color: #fff;
			}
		}
		li {
			float: left;
			padding: 5px 20px;
			background: #f1f2f2;
			margin-right: 2%;
			position: relative;
			line-height: 1.8em;
			height: 40px;
			&:after {
				border-color: transparent transparent transparent #f1f2f2 ;
				border-image: none;
				border-style: solid;
				content: " ";
				height: 0;
				left: 100%;
				position: absolute;
				top: 0;
				width: 0;
				border-bottom: 20px solid transparent;
				border-left: 10px solid #f1f2f2;
				border-top: 20px solid transparent;
			}
		}
		a {
			display: block;
		}

	}
}

#tab-description,
#tab-test_tab{
	padding: 50px 45px;
}

table.variations{
	float: right;
	width: calc(100% - 240px) !important;
	margin-top: 5px;
}