.archive.woocommerce, .woo-uitgelicht{
	.producten-overzicht{
		width: 75%;
	}
	.producten-archive-sidebar{
		width: 22%;
	}
}

.checkout-steps ul li{
	width: 31% !important;
}

// Filter
.filter-menu {
	display: none;
}

//Archive
.archive.woocommerce {
	ul.products {
		width: 100%;
		li.product {
			width: 31.1%;
			box-shadow: none;
			margin: 0 3.35% 3.35% 0;
			&:nth-child(3n){
				margin-right: 0;
			}
			a{
				h2{
					padding: 0px 0px 10px 0px !important;
				}
				.price{
					left: 20px;
					bottom: 15px;
					font-size: 20px;
					padding: 0px;
					background-color: transparent;
				}
			}
		}
	}
}

.offsite-data-adv a {
	margin: 10px 20px;
}

.archive.woocommerce {
	#woocommerce_product_categories-2 {
		display: block;
	}
	ul.product-categories {
		width: 20%;
	}
}

 //Check-out
 .woocommerce-checkout {
	#customer_details {
		float: left;
		width: 50%;
	}
	.col-1, .col-2 {
		width: 100% !important;
	}		
	h3#order_review_heading	{
		float: left;
		width: 40%;
		margin-left: 10%;
	}
	#order_review {
		border: 4px solid #000;
		float: left;
		padding: 20px;
		width: 40%;
		font-size: 80%;
		margin-left: 10%;
	}
}

.checkout #payment {
	background: #fff none repeat scroll 0 0;
}
.checkout table.shop_table {
	border: none;
}